/* Lakeland Reeds Bed and Breakfast */
/* Jeremy Bowne HTML5 Unit F */
@font-face {
  font-family: 'CuprumFFURegular';
  src: url('fonts/Cuprum-webfont.eot');
  src: local('☺'), url('fonts/Cuprum-webfont.woff') format('woff'), url('fonts/Cuprum-webfont.ttf') format('truetype'), url('fonts/Cuprum-webfont.svg#webfontKLktnWy4') format('svg');
  font-weight: normal;
  font-style: normal;
  }
body {
  padding: 0;
  margin: 0;
  font-family: tahoma, arial, helvetica, sans-serif;
  }
img {
  border: 0;
  }
figcaption {
  padding: 0;
  margin: 0;
  display: block;
  }
figure {
  display: block;
  float: right;
  margin: 0 0 0.5em 1em;
  padding: 0;
  text-align: center;
  }
footer {
  display: block;
  padding: 0.25em;
  margin: 0;
  clear: right;
  }
footer p {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  }
h1, h2, nav {
  text-align: center;
  font-family: CuprumFFURegular, georgia, "times new roman", times, serif;
  }
h1 {
  font-size: 2em;
  margin: 0;
  }
h2 {
  font-size: 1.5em;
  }
h3 {
  font-size: 1.1em;
  }
nav {
  display: block;
  padding: 0.25em;
  margin: 0;
  }
nav p {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  }
#box {
  width: 42em;
  padding: 1em;
  margin: 0 auto; 
  }
#contact {
  padding: 0.25em 1.5em;
  }
#mainnav {
  }
#name {
  font-weight: bold;
  }
#pagenav {
  text-align: center;
  padding: 0.25em;
  margin: 0;
  }
#skipnav {
  width: 40em;
  text-align: right;
  margin: 0 auto;
  padding: 0.25em;
  }
#title {
  font-style: italic;
  }
.beds {
  padding: 0 0 0 3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  }
.callout {
  font-weight: bold;
  }
.desc {
  padding: 0 0 0 3em;
  margin: 0;
  }
.toplink {
  text-align: right;
  padding: 0 1em 0.25em 0;
  margin: 0;
  clear: right;
  }
a:link {
  color: black;
  }
a:visited {
  color: black;
  }
a:hover {
  color: black;
  }
a:active {
  color: black;
  }
#skipnav a:link {
  color: black;
  }
#skipnav a:visited {
  color: black;
  }
#skipnav a:hover {
  color: black;
  }
#skipnav a:active {
  color: black;
  }
#pagenav a:link {
  color: black;
  }
#pagenav a:visited {
  color: black;
  }
#pagenav a:hover {
  color: black;
  }
#pagenav a:active {
  color: black;
  }
#mainnav a:link {
  color: black;
  }
#mainnav a:visited {
  color: black;
  }
#mainnav a:hover {
  color: black;
  }
#mainnav a:active {
  color: black;
  }